# Monorepo
node_modules/

# Backend
backend/node_modules/
backend/dist/
backend/coverage/
backend/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/*.log

# OS/Editor
.DS_Store
.vscode/
.idea/
